.BlackCircle{
    background-color: var(--black);
    z-index: 1;
    pointer-events: none;
}

.shape-1{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 3vh;
    left: 1vw;
    background-color: var(--black);
    border-radius: 55% 70% 45% 55% / 60% 50% 70% 60%;
}

.icon-work{
    color: var(--white);
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-work.MuiIcon-root{
    font-size: 120px;
}

.shape-2{
    position: absolute;
    height: 250px;
    width: 250px;
    top: 10vh;
    left: 80vw;
    background-color: var(--black);
    border-radius: 35% 70% 65% 55% / 60% 50% 70% 60%;
}

.icon-hand{
    color: var(--white);
    position: relative;
    top: 60%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.icon-hand.MuiIcon-root{
    font-size: 150px;
}

.shape-3{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 60vh;
    left: 60vw;
    background-color: var(--black);
    border-radius: 55% 80% 55% 45% / 60% 50% 70% 60%;
}

.icon-analytics{
    font-size: 50px;
    color: var(--white);
    position: relative;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.icon-analytics.MuiIcon-root{
    font-size: 150px;
}   
